.button {
  background-color: greenyellow;
  border: none;
  font-size: 18px;
  padding: 10px;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: darken(greenyellow, 20);
  }
}
